body{
    background-image: url("img/add.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    background-size: cover;
    font-family: roboto condense, arial, sans-serif;
}

* {
    box-sizing: border-box;
}

.table-container{
    padding: 10px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(238, 238, 238, 0.5);
    border-radius: 10px;
    align-content: center;
    font-family: roboto condense, arial, sans-serif;

    vertical-align: middle;

    width: 500px;
    height: 300px;
    margin:  auto;
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
}

table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5em;
    font-family: roboto condense, arial, sans-serif;
}

input {
    height: 1.5em;
    font-family: roboto condense, arial, sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    font-family: roboto condense, arial, sans-serif;
}

.btn {
    height: 10.5%;
    font-family: roboto condense, arial, sans-serif;
    font-size: 1.5rem;
    color : black;
    border-radius: 10px;
    left: 50%;
}

.btn-position{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
}