* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header div {

    background-color: rgba(255, 255, 255, 0 );
    width: 100%;
    height: 60%;
    text-align: center;
    overflow: hidden;
}

body {
    position: relative;
    margin: 0;
    height: 60vh;
    width: 100vw;
    margin: 0 auto;
    background-image: url("img/arono.jpeg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    text-align: center;



}

form,
input,
select,
textarea {
    margin: 0;
    padding: 0;

}

div p {
    color: #272727;
    font-size: 25px;
    font-family: roboto condense, arial, sans-serif;
    padding: 5px 0 5px 5px;
    background-color: rgba(255, 255, 255, 0.4);
    margin-bottom: 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

form {

    top: 30%;
    left: 50vh;
    font-family: roboto condense, arial, sans-serif;

}

div.content {
    margin: 0 auto;
    width:70%;
    background-color: rgba(225, 255, 255, 0);
    position: relative;
    top: 50px;
    /*    border: 2px solid #a7a7a7;*/
}

div.content label {
    width: 100%;
    display: block;
    background: rgba(255, 255, 255, 0.4);
    padding:10px;
    margin:5px 10px 5px 10px;
}


div.content label div {
    display: block;
    color: #bbbbbb;
    font-size: 12px;
    float: left;
    width: 100%;
    text-align: right;
    padding: 5px 20px 0 0;
}



input[type=submit]

{

    width: 100%;
    font-family: roboto condensed, arial, sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    border: 2px solid #a7a7a7;
    background-color:rgba(255, 255, 255, 1);
    margin-top: 10px;

}

input[type=submit]:hover {
    border: 2px solid black;
    color: white;
    background-color: #A5A5A5;
    transition: 0.3s;
}

input  {
    width: 100%;
    font-family: roboto condensed;
    margin: 10px;
    padding: 10px;
    text-align:center;
    font-size:15px;

}

/*
div.button {

font-family: Roboto condensed, sans-serif;
    font-size: 25px;
    height: 60%;
    text-align: center;
    margin-top: 60px;
}
a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    display: block;
    padding: 5px;
    margin-bottom: 10px;
    letter-spacing: 2px;
    border: 2px solid #a7a7a7;
    background-color:rgba(255, 255, 255, 1);

}
a:hover {
    border: 2px solid black;
    color: white;
    background-color: #A5A5A5;
    transition: 0.3s;


}
*/



/*
div.content .button {

    margin: 0 0 10px 0;
    padding: 4px 7px;
    background: #a5a5a5;
    border: 0px;
    position: relative;
    top: 10px;
    left: 382px;
    width: 100px;
    border: 2px solid black;
    text-transform: uppercase;
    font-family: roboto condense, arial, sans-serif;
    font-size: 15px;
}
*/

/*display: block;*/


