* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


header {
    height: 40vh;
    width: auto;
    background-image: url(img/charts.jpeg);
    background-size: cover;

}

div.logo {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;
    margin-bottom: 50px;
    overflow: hidden;
}

h1 {
    font-family: roboto condensed, arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 30px;
    letter-spacing: 3px;
    text-align: center;
    margin: 30px auto;
    padding: 10px;
    text-transform: uppercase;




}

body {

    height: 100vh;
    width: 100vw;
    font-size: 0;
    margin: 5 auto;

}


div button {
    display: inline-block;
    width: 19%;
    height: 200px;
    background-color: white;
    float: left;
    padding: 10px;
    letter-spacing: 3px;
    border: 3px solid #a7a7a7;
    margin: 7px;
    text-align: center;
    height: 150px;
    font-size: 2rem;
    font-family: roboto condensed;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px;
}

div button:hover {
    border: 3px solid black;
    color: white;
    background-color: #A5A5A5;
    transition: 0.3s;
}
