
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
position: relative;
    margin: 0;
    height: 60vh;
    width: 100vw;
    background-image: url("img/bcg.jpeg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

header > * {

  position: absolute;
}

header div {

    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

body {
    height: 40vh;
    margin: 0;
}

.buttons {

    font-family: Roboto condensed, sans-serif;
    font-size: 30px;
    height: 60%;
    text-align: center;
    margin-top: 60px;

}

section div {
    margin: 20px;
}


a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    display: block;
    padding: 10px;
    letter-spacing: 3px;
    border: 3px solid #a7a7a7;
    
}
a:hover {
    border: 3px solid black;
    color: white;
    background-color: #A5A5A5;
    transition: 0.3s;
}

