body{
    background-image: url("img/charts.jpeg");
    background-repeat: no-repeat;
    padding-bottom: 10px;
    padding-top: 10px;
}

#header-text, #welcome-text{
    opacity: 1;
    color: black;
}


.mainPage {

    -webkit-filter: brightness(0.6);
    filter: brightness(0.6);
    width: 100%;
    height: 100%;

}

.container-fluid{
    background: transparent;
}

.table{
    font-family: roboto condense, arial, sans-serif;
    font-size: 1.8rem;
    color : black;
    background-color: rgba(238, 238, 238, 0.5);
    border-radius: 10px;
}

.jumbotron{
    opacity: 0.5;
}

.month-filter, .fixed-month-filter{
    font-family: roboto condense, arial, sans-serif;
    font-size: 1.8rem;
    color : black;
    background-color: rgba(238, 238, 238, 0.5);
    border-radius: 10px;
}

.data {
    padding-left: 100px;
}

.btn {
    height: 4.5%;
    font-family: roboto condense, arial, sans-serif;
    font-size: 1.8rem;
    color : black;
    background-color: rgba(238, 238, 238, 0.5);
    border-radius: 10px;
}

a, a:visited, a:hover, a:active {
    color: black;
    font-family: roboto condense, arial, sans-serif;
    font-size: 1.8rem;
}

.special-link, .special-link:visited, .special-link:hover, .special-link:active {
    color: black;
}